#name{
    color:teal
}

#show{
    display: flex;  
    flex-direction: row;
    margin-left: 40px;
    width:1800px;
    position: relative;
    flex-wrap: wrap;
}
#each{
    margin-left: 20px;
    border:2px solid grey;
    width:300px;
    height:350px;
    margin:20px;
    box-shadow: 5px 5px 10px teal;
}
#img1{
   
    width:300px;
    height:80%
}
#movietitle{
    text-align: center;
}


@media screen and (max-width: 1492px) {
    #show {
      width: 1200;
    }
  }

  @media screen and (max-width: 992px) {
    #show {
      width: 800;
      margin: 100px;
    }
    #each{
        height:500px;
        width:600px
    }
    #img1{
   
        width:600px;
        
    }
  }

  @media screen and (max-width: 400px) {
   #each{
       width:100%
   }
  }


